:root {
  --main-page-width: 1200px;
  --footer-container-height: 4rem;
  --footer-container-content-height: 2rem;
  --main-container-height: 6rem;
  --main-container-content-height: 4rem;
  --main-font: 'Noto Sans JP', sans-serif;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: var(--main-page-width);
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
}
