:root {
  --main-page-width: 1200px;
  --footer-container-height: 4rem;
  --footer-container-content-height: 2rem;
  --main-container-height: 6rem;
  --main-container-content-height: 4rem;
  --main-font: 'Noto Sans JP', sans-serif;
  --link-active-color: #14213d;
  --link-default-color: #fca311;
  --background-color-footer-header: #e5e5e5;
  --background-color-button: #fca311;
  --background-color-hover-button: #14213d;
  --text-color-button-hover: #ffffff;
  --text-color-button: #14213d;
  --mithra-button-volor:#243d51;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: var(--main-page-width);
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
}
